.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

canvas {
  padding: 20px;
}

.doughnut {
  max-width: 400px;
  max-height: 400px;
}

@media (max-width : 500px) {
  .collapsible {
    width: 100%;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%
  }
  .mobile-m {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 90%;
  }

  h1, h2, h3, h4, p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.last{
  margin-bottom: .8rem
}

.active {
  margin-bottom: 0!important;
}

.downloadbutton {
  background-color: rgb(128, 192, 235);
  color: #444;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border: solid 1px #444;
}

.bijlagebutton {
  background-color: rgb(128, 192, 235);
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border: solid 1px #444;
}

.small {
  font-size: 16px;
}

.reh {
  max-width: 200px;
  display: block;
  margin: auto;
}

